@model ProductViewModel
<form method="post">
    <input asp-for="@Model.Id" /><br />
    <input asp-for="@Model.Name" /><br />
    <input asp-for="@Model.Price" /><br />
    <input asp-for="@Model.Amount" /><br />
    <input asp-for="@Model.Weight" /><br />
    <input asp-for="@Model.CategoryId" /><br />
    <input asp-for="@Model.ProviderId" /><br />
    <button>Submit</button>
</form>